<div class="container">
  <h4 class="section-header">Education</h4>

	<div class="pb-3">
  <mdb-card *ngFor="let edu of education">
    <mdb-card-header class="mdb-color lighten-5">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item pr-4">{{ edu.logo }}</li>
        <li class="list-inline-item pr-4">{{ edu.institution | uppercase }}</li>
        <li class="list-inline-item pr-4">{{ edu.title }}</li>
      </ul>
    </mdb-card-header>

    <mdb-card-body>
      <mdb-card-title>
        <p>{{ edu.maindescr }}</p>
      </mdb-card-title>
      <p class="bullets">
        {{ edu.coursedesc1 }}<br>
        {{ edu.coursedesc2 }}<br>
        {{ edu.coursedesc3 }}<br>
        {{ edu.coursedesc4 }}
      </p>
    </mdb-card-body>

    <mdb-card-footer class="mdb-color lighten-5 text-left footer">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item pr-4">{{ edu.dates }} | {{ edu.location }}</li>
        <li class="list-inline-item pr-4"><button href=""type="button" class="btn btn-success btn-sm">More info.</button></li>
      </ul>
    </mdb-card-footer>
  </mdb-card>
	</div>
  <br>
  <hr>

</div>
