<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5 fixed-top" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand active" routerLinkActive="active-list-item" routerLink="/home">AB</a><span class="sr-only">(current)</span></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLinkActive="active-list-item" routerLink="/about" mdbWavesEffect>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLinkActive="active-list-item" routerLink="/projects" mdbWavesEffect>Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLinkActive="active-list-item" routerLink="/articles" mdbWavesEffect>Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLinkActive="active-list-item" routerLink="/skills" mdbWavesEffect>Skills</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Vitae<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary navbar-light blue-grey lighten-5" role="menu">
          <a routerLink="/experience" class="dropdown-item waves-light" mdbWavesEffect href="#">Experience</a>
          <a routerLink="/education" class="dropdown-item waves-light" mdbWavesEffect href="#">Education</a>
          <a routerLink="/other" class="dropdown-item waves-light" mdbWavesEffect href="#">Other</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" routerLinkActive="active-list-item" routerLink="/contact" mdbWavesEffect>Contact</a>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">

      <li class="nav-item">
        <a mdbBtn color="info" class="btn-narrow" size="sm" href="https://www.linkedin.com/in/andrew-bateman/" target="_blank" rel="noreferrer">
          <mdb-icon class="center" fab icon="linkedin" size="2x"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a mdbBtn color="info" class="btn btn-narrow" size="sm" href="https://github.com/AndrewJBateman" target="_blank" rel="noreferrer">
          <mdb-icon fab icon="github" size="2x"></mdb-icon>
        </a>
      </li>
      <li class="nav-item" >
        <a mdbBtn color="info" class="btn-narrow cv" size="sm" (click)="openBottomSheet()">
          <mdb-icon fas icon="file-download" size="2x"></mdb-icon> CV
        </a>
      </li>
      <li class="nav-item">
        <a mdbBtn color="info" class="btn-narrow" size="sm" href="mailto:gomezbateman@yahoo.com" target="_blank" rel="noreferrer">
          <mdb-icon far icon="envelope" size="2x"></mdb-icon>
        </a>
      </li>

      <li class="nav-item">
        <a mdbBtn class="btn-narrow" color="info" size="sm">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="globe" size="2x" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-default navbar-light blue-grey lighten-5 language">
              <a class="dropdown-item" href="#" (click)="setLang('en')">
                <mdb-icon far icon="flag" class="flag"></mdb-icon> EN
              </a>
              <a class="dropdown-item" href="#" (click)="setLang('sp')">
                <mdb-icon far icon="flag" class="flag"></mdb-icon> SP
              </a>
              <a class="dropdown-item" href="#" (click)="setLang('fr')">
                <mdb-icon far icon="flag" class="flag"></mdb-icon> FR
              </a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
