<nav  class="navbar navbar-expand-lg navbar-light"  style="background-color: #b3cbdd;">
  <a  class="navbar-brand"  href="#">Andrew Bateman</a>
  <div  class="collapse navbar-collapse"  id="navbarText">
    <ul  class="navbar-nav">
      <li  class="nav-item">
        <a  class="nav-link"  href="/home">Home</a>
      </li>
      <li  class="nav-item">
        <a  class="nav-link"  href="/about">About</a>
      </li>
      <li  class="nav-item">
        <a  class="nav-link"  href="/projects">Projects</a>
      </li>
      <li  class="nav-item">
        <a  class="nav-link"  href="/skills">Skills</a>
      </li>
      <li  class="nav-item">
        <a  class="nav-link"  href="/experience">Experience</a>
      </li>
      <li  class="nav-item">
        <a  class="nav-link"  href="/education">Educaton</a>
      </li>
      <li  class="nav-item">
        <a  class="nav-link"  href="/contact">Contact</a>
      </li>
      <li  class="nav-item">
        <a  class="nav-link"  href="/resume">Resume</a>
      </li>
    </ul>
  </div>
</nav>
