<div class="top-color-bar"></div>

<mat-toolbar class="mat-elevation-z0 transparent" style="min-height: 80px">
  <div class="toolbar-content">



    <span class="title-text" routerLink="/home">Andrew Bateman</span>
    <div class="toolbar-nav-buttons">
      <button mat-button color="accent" routerLinkActive="active-list-item" routerLink="/about">About</button>
      <button mat-button color="accent" routerLinkActive="active-list-item" routerLink="/projects">Projects</button>
      <button mat-button color="accent" routerLinkActive="active-list-item" routerLink="/skills">Skills</button>
      <button mat-button color="accent" routerLinkActive="active-list-item" routerLink="/vitae">Vitae</button>
			<button mat-button color="accent" routerLinkActive="active-list-item" routerLink="/contact">Contact</button>
    </div>

    <!-- Only used on smaller screens (phones) -->
    <div class="toolbar-menu">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="accent" routerLinkActive="active-list-item" routerLink="/about">About</button>
        <button mat-menu-item color="accent" routerLinkActive="active-list-item" routerLink="/projects">Projects</button>
        <button mat-menu-item color="accent" routerLinkActive="active-list-item" routerLink="/skills">Skills</button>
        <button mat-menu-item color="accent" routerLinkActive="active-list-item" routerLink="/vitae">Vitae</button>
			  <button mat-menu-item color="accent" routerLinkActive="active-list-item" routerLink="/contact">Contact</button>
      </mat-menu>
    </div>

  </div>
</mat-toolbar>
