  <!--
  <footer class="page-footer font-small">
      <div class="row">

        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <div class="footer-content">
              <a href="mailto:gomezbateman@yahoo.com" target="_blank" rel="noreferrer">
                <mdb-icon far icon="envelope" size="2x" class="white-text footer-icon"></mdb-icon>
              </a>
            </div>

            <a class="li-ic">
                <a href="https://www.linkedin.com/in/andrew-bateman/" target="_blank" rel="noreferrer">
                  <mdb-icon fab icon="linkedin" size="2x" class="white-text footer-icon"></mdb-icon>
                </a>
            </a>
            <div class="footer-content">
              <a href="https://github.com/AndrewJBateman" target="_blank" rel="noreferrer">
                <mdb-icon fab icon="github" size="2x" class="white-text footer-icon"></mdb-icon>
              </a>
            </div>
            <div class="footer-content">
              <button mat-button (click)="openBottomSheet()"><mdb-icon fas icon="file-download" size="2x" class="white-text footer-icon"></mdb-icon>Download CV</button>
            </div>

          </div>
        </div>

      </div>
  </footer>
</div> -->
<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      
      <div class="footer-content">
        <a href="mailto:gomezbateman@yahoo.com" mat-button target="_blank" rel="noreferrer">
          <mdb-icon far icon="envelope" size="2x" class="white-text footer-icon"></mdb-icon>
        </a>
      </div>

      <a class="footer-content">
        <a href="https://www.linkedin.com/in/andrew-bateman/" mat-button target="_blank" rel="noreferrer">
          <mdb-icon fab icon="linkedin" size="2x" class="white-text footer-icon"></mdb-icon>
        </a>
      </a>

      <div class="footer-content">
        <a href="https://github.com/AndrewJBateman" mat-button target="_blank" rel="noreferrer">
          <mdb-icon fab icon="github" size="2x" class="white-text footer-icon"></mdb-icon>
        </a>
      </div>

      <div class="footer-content white-text footer-icon">
        <button mat-button (click)="openBottomSheet()"><mdb-icon fas icon="file-download" size="2x"></mdb-icon> Download CV</button>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</footer>
