  <div class="container">
    <div class="section-header">
      <h2 class="section-header">About</h2>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-sm-3">
          <mdb-card>
            <mdb-card-img mat-card-image src="assets/images/about-profile.jpg"></mdb-card-img>
            <mat-card-content>
            </mat-card-content>
          </mdb-card>
        </div>
        <div class="col-sm-9">
          <p>
            about text 
          </p>
          <p>
            about text 
          </p>
          <p>
            about text 
          </p>
          <p>
            about text
          </p>
          <p>
            about text
          </p>
          <p>
            about text
          </p>
        </div>
      </div>
    </div>
  </div>
