@import "../../styles.scss";

.section-header {
  color: $accent;
}

.text-body {
  text-align: justify;
  text-justify: auto;
}

mdb-card-img {
  border: 10px solid #ffffff;
}

mdb-card {
  margin-bottom: 20px;
}

.about-title {
  color: $accent;
}

.container-fluid {
  padding-top: 90px;
}

h5 {
	font-size: 15px;
  margin: 4px;
}

@media (max-width: 400px) {
	.container-fluid {
    padding-top: 80px;
  }
}

body, html {
  height: 100%;
}

.bg {
  background-image: url("/assets/images/iot.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
