  <body>
  <div class="bg container-fluid">
      <div class="section-body">
        <div class="row">
          <div class="col-sm-3">
            <mdb-card>
              <mdb-card-img mat-card-image src="assets/images/about-profile.jpg"></mdb-card-img>
            </mdb-card>
          </div>
          <div class="col-sm-9">
            <mdb-card class="about-text">
              <mdb-card-body>
                <mdb-card-title class="about-title">Programmer</mdb-card-title>
                <mdb-card-text class="text-body">
After over 20 years as an electronic/electrical Engineer (see below), I started studying programming in 2016. Using on-line resources such as [TeamTreehouse](https://teamtreehouse.com) I learnt about HTML, CSS, Javascript, PHP, Wordpress, SQL, Android, iOS Development with Swift, Ruby, Rails, C#, ASP.NET.
                </mdb-card-text>
                <h5 class="green-text">freeCodeCamp</h5>
                <mdb-card-text class="text-body">
I then started the Free Code Camp Front-End Certification, covering the following Certifications:

	• Responsive Web Design: HTML and CSS then Applied Visual Design, Accessibility, 4 Responsive Web Design Challenges, CSS Flexbox, CSS Grid

	• Javascript Algorithms & Data Structures: ES6, Regular Expressions, Debugging, Basic Data Structures, Algorithms, Object Orientated and Functional Programming, 5 projects

	• Front End Libraries: Bootstrap, jQuery, SASS, React, Redux, 5 projects

	• Data Visualization: D3, JSON APIs and AJAX and 5 projects

	• APIs and Microservices: npm, Node, Express, MongoDB, Mongoose and 5 projects

	• Information Security and Quality Assurance: HelmetJS, Chai, Advanced Node and Express, 5 projects

 I obtained my certificate in june of 2018.
                </mdb-card-text>

                <h5 class="red-text">Angular</h5>
                <mdb-card-text>
                   After studying the React and Vue frameworks I decided to concentrate on the Angular framework, completing Udemy course..See Projects for Angular apps created.
                </mdb-card-text>

                <h5 class="red-text">MEAN</h5>
                <mdb-card-text>
                   After studying the I MERN and MEVN full-stack frameworks I decided to focus on the MEAN stack, completing Udemy course..
                </mdb-card-text>

                <h5 class="blue-text">Ionic</h5>
                <mdb-card-text>
                   I decided to concentrate on Ionic as an excellent framework to create apps that could be viewed on multiple platforms. See Projects for Ionic apps created.
                </mdb-card-text>

              </mdb-card-body>
            </mdb-card>

            <mdb-card class="about-text">
              <mdb-card-body>
                <mdb-card-title class="about-title">Engineer</mdb-card-title>
                <mdb-card-text class="text-body">As an electronic/electrical Engineer I gained a lot of experience of computing, automation, real-time control systems, CAD, operating systems and network communications.

                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
      </div><!--end of row-->
    </div><!--end of section-body-->
	</div><!--end of bg container-->
  </body>
