  <body>
  <div class="bg container-fluid">
      <div class="section-body">
        <div class="row">
          <div class="col-sm-3">
            <mdb-card>
              <mdb-card-img mat-card-image src="assets/images/about-profile.jpg"></mdb-card-img>
            </mdb-card>
          </div>
          <div class="col-sm-9">
            <mdb-card class="about-text">
              <mdb-card-body>
                <mdb-card-title class="about-title">Programmer</mdb-card-title>
                <mdb-card-text class="text-body">As an electronic/electrical Engineer I gained a lot of experience of computing, automation, real-time control systems, CAD, operating systems and network communications. For the past few years I have concentrated on programming development, particularly the MEAN stack.

                  As an electronic/electrical Engineer I gained a lot of experience of computing, automation, real-time control systems, CAD, operating systems and network communications. For the past few years I have concentrated on programming development, particularly the MEAN stack.

                  As an electronic/electrical Engineer I gained a lot of experience of computing, automation, real-time control systems, CAD, operating systems and network communications. For the past few years I have concentrated on programming development, particularly the MEAN stack.
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
            <mdb-card class="about-text">
              <mdb-card-body>
                <mdb-card-title class="about-title">Engineer</mdb-card-title>
                <mdb-card-text class="text-body">As an electronic/electrical Engineer I gained a lot of experience of computing, automation, real-time control systems, CAD, operating systems and network communications. For the past few years I have concentrated on programming development, particularly the MEAN stack.</mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
      </div><!--end of row-->
    </div><!--end of section-body-->
	</div><!--end of bg container-->
  </body>
