@import "../../styles.scss";

.section-header {
  color: $accent;
}

ul, p {
	margin: 0;
}

.bullets {
	margin: 10px 0 0;
	font-size: 14px;
}

/* .btn {
	font-size: 14px;
} */
.container { padding-top: 80px; }

@media (max-width: 400px) {
	.container { padding-top: 70px; }
}

.bg {
  /* The image used */
  // background-image: url("/assets/images/bg-lightblue.jpg");
  background-color: #e6e6ec;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}