@import "../../styles.scss";

.section-header {
  color: $accent;
  margin: 0 20px 0 35px;
}

.container-fluid {
  padding-top: 80px;
}

.card-deck {
  margin: 20px;
  padding: 0 auto;
}

.card-text content {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.card-text:last-child {
  margin-bottom: 0;
}

@media (max-width: 400px) {
	.container-fluid {
    padding-top: 70px;
  }

  .section-header {
    color: $accent;
    margin: 10px 20px 0 20px;
  }

.card-text content {
    margin: 0;
  }

.mb-0 {
  margin-bottom: 0 !important;
}

.card-text:last-child {
  margin-bottom: 0 !important;
}
}

.bg {
  /* The image used */
  // background-image: url("/assets/images/bg-lightblue.jpg");
  background-color: #e6e6ec;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
