<div class="bg container-fluid">
  <!-- <h4 class="section-header">Ionic-Angular Apps</h4> -->
  <div class="card-deck">
    <mdb-card style="min-width: 18rem; max-inline-size: 18rem; margin-bottom: 1rem" *ngFor="let project of projects">
      <div class="view overlay waves-light" mdbWavesEffect>
        <mdb-card-img class="card-img-top" [src]="project.img.src" [alt]="project.img.alt"></mdb-card-img>
        <a><div class="mask rgba-white-slight"></div></a>
      </div>
      <mdb-card-body class="p-3">
        <mdb-card-title>
          <h5>{{ project.title }}
            <a class="px-2" size="2x" [href]="project.github" target="_blank" rel="noreferrer">
              <mdb-icon far icon="eye"></mdb-icon>
            </a>
            <a class="px-2" size="2x" [href]="project.github" target="_blank" rel="noreferrer">
              <mdb-icon fab icon="github"></mdb-icon>
            </a>
          </h5>
        </mdb-card-title>
        <mdb-card-text class="text-justify no-gutters mb-0">
          {{ project.content }}
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
