@import "../../styles.scss";

.section-header {
  color: $accent;
  margin: 0 20px 0 35px;
}

.container-fluid {
  padding-top: 90px;
}

.card-deck {
  margin: 20px;
  padding: 0 auto;
}

@media (max-width: 400px) {
	.container-fluid {
    padding-top: 70px;
  }

  .section-header {
    color: $accent;
    margin: 10px 20px 0 20px;
  }
}

.bg {
  /* The image used */
  background-image: url("/assets/images/iot.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}