@import "../../styles.scss";

.section-header {
  color: $accent;
}

#contact-card {
  width: 390px;
  margin-top: 30px;
  font-family: 'Roboto Mono', monospace, Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

mdb-icon, p{
  margin: 15px 10px;
}

.fa-icon {
  display: block;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.color-hover {
  color: #61caff;
}

.bold-font-fluid {
  font-weight: 700;
}

.wider-letter-space {
  letter-spacing: 2px;
}
.container-fluid { 
  padding-top: 150px; 
}

body,html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}