@import "../../styles.scss";

.section-header {
  color: $accent;
}

h4 {
	border: 0;
}

.card {
	background-color: rgba(250, 246, 246, 0.03)
}

p {
  margin: 0;
}

.container-fluid {
  padding-top: 80px;
}

@media (max-width: 400px) {
	.container { padding-top: 60px; }
}
