@import "../../styles.scss";

.section-header {
  color: $accent;
}

h4 {
	border: 0;
}

.card {
	background-color: rgba(250, 246, 246, 0.03)
}

p {
  margin: 0;
}

.container-fluid {
  padding-top: 80px;
}

@media (max-width: 400px) {
	.container { padding-top: 60px; }
}

body {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("/assets/images/iot.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}