<body>
<div class="bg container-fluid">
<!-- <div class="container-fluid"> -->
  <h4 class="section-header">Articles on Programming</h4>

  <div class="card-deck">
    <mdb-card style="min-width: 18rem; max-inline-size: 18rem; margin-bottom: 1rem" *ngFor="let article of articles">
      <div class="view overlay waves-light" mdbWavesEffect>
        <mdb-card-img class="card-img-top" [src]="article.img.src" [alt]="article.img.alt"></mdb-card-img>
        <a><div class="mask rgba-white-slight"></div></a>
      </div>

      <mdb-card-body>
        <mdb-card-title>
          <h5 class="text-center">{{ article.title }}
            <mdb-icon style="margin-right:5px"
              fab icon
              size="1.5x"
              *ngFor="let tool of article.tools"
              [icon]="[tool.icon]">
            </mdb-icon>
          </h5>
        </mdb-card-title>
        <mdb-card-text>{{ article.content }}</mdb-card-text>
      </mdb-card-body>

      <div class="card-footer">
        <a [href]="article.github" mat-button target="_blank" rel="noreferrer">
          <mdb-icon fas icon="info-circle" size="2x"></mdb-icon>
        </a>
        <a [href]="article.url" mat-button target="_blank" rel="noreferrer">
          <mdb-icon fab icon="github" size="2x"></mdb-icon>
        </a>
      </div>
    </mdb-card>
  </div>
</div>
<!-- </div> -->

</body>