@import '~@angular/material/theming';

@include mat-core();

/* custom palette for pure white */
$mat-white: (
  50: #ffffff,
  contrast: (
    50: $black-87-opacity,
  )
);

$corporate-app-primary: mat-palette($mat-white, 50);
$corporate-app-accent:  mat-palette($mat-blue, 800, 100, 900);
$corporate-app-text:  mat-palette($mat-blue, 900);
$corporate-app-warn:    mat-palette($mat-red);
$corporate-app-theme: mat-light-theme($corporate-app-primary, $corporate-app-accent, $corporate-app-warn);

$primary: mat-color($corporate-app-primary);
$accent: mat-color($corporate-app-accent);
$warn: mat-color($corporate-app-warn);

@include angular-material-theme($corporate-app-theme);

/* Application-wide Styles */
h1 {
  color: mat-color($corporate-app-text);
  font-family: sans-serif, Arial, Helvetica;
  font-size: 250%;
}


h2 {
  color: mat-color($corporate-app-text);
  font-family: sans-serif, Helvetica, Arial;
  font-weight: lighter;
}

h3 {
  color: mat-color($corporate-app-text);
  font-family: sans-serif, Helvetica, Arial;
  font-weight: lighter;
  margin-left: 2%;
  font-size: 125%;
}

ul {
  font-family: sans-serif, Helvetica, Arial;
  margin-left: 2%;
}

p {
  color: #444;
  font-family: sans-serif, Helvetica, Arial;
  font-weight: lighter;
  margin-left: 2%;
}


/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; // used for footer
}

*:before,
*:after {
 box-sizing: border-box; // used for footer
}

html, body {
 height: 100%;
 position: relative;
}


body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

button:focus { outline: none; } // removes firefox dotted outlione

img:hover { outline: none !important;} // removes firefox dotted outlione

mat-icon{ // workaround for mat icon bug (probably induced by mdb)
  font-family: 'Material Icons' !important;
}

.main-container {
    width: 60%;
    margin: 0 auto;
}

.slide-content-box {
  //background-color: transparentize(black, 0.40);
  padding: 30px;
  position: absolute;
  //width: 150px;
  //bottom: 36%;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slide-text {
  display: inline;
//  background-color: transparentize($primary, 0.75);
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0px 0px 50px black;
  font-weight:bold;
  font-size: 250%;
  color: $primary;
  text-align: center;
}

.slide-button {
  background-color: $primary;
  border-radius: 2px;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 6px;
  margin: 0 auto;
  margin-top: 50px;
  cursor: pointer;
}

.carousel-container {
  width: 100vw;
}

.carousel-image-container {
  object-fit: contain;
  margin: 0 auto;
  width: inherit;
  height: 75vh;
}

.carousel-image {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}


.home-card {
    border-radius: 1px !important;
}

.card-top-text-container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.home-accordion {
  margin: 0 0 0 0;
}

.overlap-up {
  position: relative;
  margin-top: -50px;
  z-index: 1;
}

.home-accordion-panel {
  width: 100%;
  margin: 0 auto;
  border-radius: 1px !important;
}

.right-aligned-image {
  float: right;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 15px;
  text-align: center;
}

.image-border {
  border: solid $accent 1px;
  border-radius: 2px;
  border-width: 2px;
  padding: 4px;
}

.centered-image {
  margin-bottom: 50px;
  margin-top: 50px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.image-caption {
    display: block;
}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 850px) {

  .carousel-image-container  {
    height: 50vh;
  }

  .main-container {
    width: 100%;
  }

  .overlap-up {
    margin-top: 0px;
  }

  .column {
    width: 100%;
  }

  .centered-image {
    width: 60% !important;
  }

  .card-top-text-container {
    width: 100%;
  }

}

@media (max-width: 500px) {

  .right-aligned-image {
    width: 100% !important;
  }

  .centered-image {
    width: 100% !important;
  }

  .slide-text {
    font-size: 150%;
  }
}