<div class="bg container-fluid">

<section class="home-content my-5">

  <!-- Section heading -->
<h2 class="section-header py-3 font-weight-bold text-center">Andrew Bateman</h2>
  <!-- Section description -->
  <!-- <p class="lead text-center w-responsive mx-auto mb-3">Programmer and Engineer</p> -->

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column 1 -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <mdb-icon fas icon="flag-checkered" size="2x" class="blue-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-1">Full-Stack Developer</h5>
          <p>Experienced in creating MEAN full-stack apps</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
					<mdb-icon fas icon="flask" size="2x" class="purple-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-1">Software Developer</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-md-0 mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <mdb-icon fas icon="cocktail" size="2x" class="green-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-1">Technical Programmer</h5>
          <p class="mb-md-0">A range of Ionic apps created.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- End Grid column 1 -->

    <!-- Grid column 2 -->
    <div class="col-md-4 text-center">
      <div class="avatar mx-auto mt-3">
        <img 
          src="{{ profile.avatar_url }}" 
          class="rounded-circle z-depth-1" 
          style="width:60%"
          alt="github avatar"
        >
      </div>
      <h5 class="github-title font-weight-bold mt-4 mb-1">
        {{ profile.bio }}
      </h5>
      <p class="mb-3">Github Repositories: {{ profile.public_repos }}
      </p>
    </div>
    <!-- End Grid column 2 -->

    <!-- Grid column 3 -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <mdb-icon fas icon="heart" size="2x" class="red-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-1">Electrical Engineer</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <mdb-icon fas icon="bolt" size="2x" class="orange-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-1">Electronic Engineer</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-2">
          <mdb-icon fas icon="magic" size="2x" class="pink-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-1">Instrumentation/Control Engineer</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam, aperiam minima assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>

</div>
<!-- container bg -->
