@import "../../styles.scss";

.section-header {
  color: $accent;
}


.container { padding-top: 85px; }


@media (max-width: 400px) {
	.container { padding-top: 70px; }

/*   fa-flag {
    padding: 10px;
  } */

}

