<div class="bg container-fluid">

<section class="home-content my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-lg-3">Andrew Bateman</h2>
  <!-- Section description -->
  <p class="lead text-center w-responsive mx-auto mb-3">Programmer and Engineer</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <mdb-icon fas icon="flag-checkered" size="2x" class="blue-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-1">Full-Stack Developer</h5>
          <p>Experienced in creating MEAN full-stack apps</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
					<mdb-icon fas icon="flask" size="2x" class="purple-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-1">Software Developer</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-md-0 mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <mdb-icon fas icon="cocktail" size="2x" class="green-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-1">Technical/Scientific Programmer</h5>
          <p class="mb-md-0">A range of Ionic apps created.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <!-- original image in center -->
<!--     <div class="col-md-4 text-center">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png"
        alt="Sample image">
    </div> -->
    <!-- new image in center -->
<div class="col-md-4 text-center">
<mdb-card class="testimonial-card">
      <!--Bacground color-->
      <div class="card-up indigo lighten-1">
      </div>

      <!--Avatar-->
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
      </div>

      <mdb-card-body>
        <!--Name-->
        <mdb-card-title>
          <h4>{{ data?.name }}</h4>
        </mdb-card-title>
        <hr>
        <!--Quotation-->
        <p>
          <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          adipisci</p>
      </mdb-card-body>
    </mdb-card>
</div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <mdb-icon fas icon="heart" size="2x" class="red-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-1">Electrical Engineer</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <mdb-icon fas icon="bolt" size="2x" class="orange-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-1">Electronic Engineer</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-2">
          <mdb-icon fas icon="magic" size="2x" class="pink-text pr-3"></mdb-icon>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">Instrumentation/Control Engineer</h5>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam, aperiam minima assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>

</div>
<!-- container bg -->
